* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header */
.page-header{
  width: 100%;
}

/* nav  */
.nav-container{
  background-color: #FF6900;
  padding: 10px;
}

.row {
  display: flex;
}

.col-4{
  flex-basis: calc((100% / 12)* 4);
}

/* uomo donna bambino  */
a{
  text-decoration: none;
  color: white;
}

.category{
  padding-left: 200px;
}

/* logo  */
.logo img{
  max-width: 100px;
  margin-left: 200px;
}

/* icons  */
.bi-person{
  margin-left: 150px;
}

/* main-page  */
