* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header */
.page-header{
  width: 100%;
}

/* nav  */
.nav-container{
  background-color: #FF6900;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
}

.row {
  display: flex;
}

.col-4{
  flex-basis: calc((100% / 12)* 4);
 
}

/* uomo donna bambino  */
a{
  text-decoration: none;
  color: white;
}

.category{
  padding-left: 200px;
}

/* logo  */
.logo img{
  max-width: 100px;
  margin-left: 200px;
}

/* icons  */
.bi-person{
  margin-left: 150px;
}

/* main-page  */

.main-page{
  width: 100%;
  padding-top: 50px;
}


.card-container{
  position: relative;

}

.container{
  max-width: 100%;
  margin: 0 auto;
}

.row-main{
  display: flex;
  flex-wrap: wrap;
  padding: 30px 100px 30px 100px;
}


img{
  width: 100%;
  padding-right: 15px;
}

.first-img.img-hidden{
  position: absolute;
  inset: 0;
  opacity: 0;
}

.card-container:hover .first-img.img-hidden{
  opacity: 1;
}

.heart{
  display: block;
  position: absolute;
  top: 15px;
  right: 15px;
  width: 40px;
  background-color: white;
  font-size: 30px;
  color: black;
  text-align: center;
}

.sale{
  display: block;
  position: absolute;
  bottom: 50px;
  left: 0;
  width: 50px;
  background-color: red;
  font-size: 15px;
  color: white;
  text-align: center;
}

.green{
  display: block;
  position: absolute;
  bottom: 50px;
  left: 60px;
  width: 100px;
  background-color: green;
  text-align: center;
  color: white;
}

.green-solo{
  display: block;
  position: absolute;
  bottom: 50px;
  left: 0;
  width: 100px;
  background-color: green;
  text-align: center;
  color: white;
}

.description{
  font-weight: bold;
}

.current-price{
  color: red;
  font-weight: bold;
}


.old-price{
  text-decoration-line: line-through;
  font-weight: bold;
}

